#header-bar{
	width:95%;
	margin:0 auto;
	color:#C9C9C9;
}
#header-bar_{
	background:#CC0044;
	color:black;
	height:75px;
	width:100%;
	top:0;left:0;
	position:fixed;
	transition: height 450ms;
}
.header-shadow{
	position:fixed;
	top:0;left:0;
	background:#B0B0B0;
	height:77px;
	width:100%;
	opacity:0.5;
	transition: height 500ms;
}	
.get-started{
	width:20%;
	margin:0 auto;
	text-decoration:none;
	font-size:30px;
	color:white;
	background:#CC0044;
	border-radius:4px;
	padding:5px 5px;
	cursor:pointer;
	transition: background 300ms;
	border-bottom:2px solid #B0B0B0;
}
html, body {
height:100%; margin:0; padding:0; 
}
.get-started:hover{
	background:#990033;
}
.description{
	width:95%;
	margin:0 auto;
}
.description p{
	font-size:25px;
}

body{
		font-family: Helvetica, sans-serif;
}
#header{
	width:100%;
	height:75px;
}

.cwidth{
	width:1100px;
	margin: 0 auto;
}
.title-block_{
	padding:30px;
	margin-bottom:0;
}

.title-block_, .santa-block{height: 100vh;}
.title-block{

	margin-top:10%;
	width:100%;
	font-size:50px;
	text-align:center;
}
.mmenu-button{
	cursor:pointer;
	float:right;
	display:none;
	color:#ffffff;
}
h1{
	text-align:center;
	font-size:70px;
}
.mmenu{
	width:30%;
	position:fixed;
	top:0;
	right:0;
	margin-right:-70%;
	background:#000000;
}
.clear{clear:both;}

.footer{height:100px;}
.santa-block_{margin:0 auto;background:#ffffff; margin-top:5%;}
.inprow{
	text-align:center;
	margin:0 auto;
	width:95%;
	margin-bottom:1%;
	transition:top 300ms;
	border:1px solid #B0B0B0;
	border-radius:4px;

}
.emailfield, .namefield{
	background:#ffffff;
	width:60%;
	float:left;

}
.nameinp, .emailinp{
	font-size:25px;
	border: none;
	line-height:45px;
	width:95%;
}
.nameinp:focus, .emailinp:focus{    
	outline: 0;
}
.emailfield{
	width:45%;
}
.buttonrow{
	margin:0 auto;
	width:95%;
}
.namefield{
	width:35%;
	border-right:1px solid #B0B0B0;
}

#santa-list{
	margin-top:4%;
}

.goodlist{
	padding-top:10%;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.button{
width:50%;background-color:#CC0044;
	text-align:center;
	border-radius:4px;
	color: white;
 	cursor: pointer;
	font-size: 30px;
	padding:20px 0;
	transition:background 300ms;
	float:left;
	display:block;
}
.button:hover{
	background:#B3003C;	transition:background 300ms;

}
.fa-check, .fa-times, .fa-chevron-down{
	cursor:pointer;	transition:color 300ms;


}
#santaresult{

}
.warningtext{
	line-height:45px;
	display:none;
	color:#ffffff;
	font-size:25px;
}

.fa-check:hover, .fa-times:hover,.fa-chevron-down:hover{
	color:#000000;
}
.santaoptionsbutton{
	color:#B0B0B0;
	font-size:25px;
	line-height:45px;
	width:17%;
	text-align:right;
	float:left;
}
.submit-button{
	width:50%;
	background:#3CB300;
	float:left;
}
.submit-button:hover{
	background:#339900;
}
.inperror{border:3px solid red;}
.warningtext,.santaoptions{
	text-align:center;
	width:100%;
	height:5px;
	background:#b0b0b0;
	transition:height 300ms;
}
@media (max-width:1140px){
	#header-bar_, #header-bar, #header{height:60px;}
	.header-shadow{height:62px;}
.santa-block_{padding:30px;}
	.cwidth{width:100%;}
	.get-started{width:70%;}
}
@media (max-width:669px){
	.warningtext{font-size:15px;}
	.get-started{width:50%;}
	.inprow{width:100%}
	.buttonrow{width:100%;}
}
@media (max-width: 566px){
		#header-bar_, #header-bar, #header{height:50px;}
		.namefield, .emailfield{width:40%;margin-right:1%;}
	.header-shadow{height:52px;}
	h1{font-size:35px;}
 .title-block{font-size:25px;}
.santa-block_{padding:10px;}
	.mmenu-button{
		display:block;
	}	
	.warningtext{font-size:15px; line-height:30px;}
	.button, p{font-size:15px;}
	.description{width:100%;}
	.get-started{width:95%;}
}

@media(max-width: 390px){
	.warningtext{font-size:15px; line-height:20px;}
}