<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/app.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="input" contenteditable="true">Enter your friends names...</div>
    <div id="addPeopleButton">Add Friend</div>
    <div id="outputButton">Create Group!</div>
  </body>
</html>
