<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900' rel='stylesheet' type='text/css'>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/app.js"></script>
  </head>
  <body>
    <div id="main-title"><%= title %></div>
    <div id="intro">
    <div id="julianne"></div>
    <div id="caption">
      Hi! I'm Julianne, and I'm here to save your Secret Santa party!
    </div>
  </div>
    <div id="instructions">
      <div id="title">Here's what you do:</div>
      <div id="step1">Step 1: Enter the <strong>email</strong> of your friend below.</div>
      <div id="step2">Step 2: Press "Add Friend" to add them to Julianne's secret list!</div>
      <div id="step3">Step 3: Repeat for <strong>ALL</strong> the friends you want. </div>
      <div id="step4">Step 4: Press "Create" after you're done.</div>
      <div id="step5">Step 5: Tell all your friends to check their emails to see who they got!</div>
    </div>
    <div id="input" contenteditable="true" placeholder="Tell me who's coming!"></div>
    <div id="button-wrapper">
      <div id="addPeopleButton" class="button">Add Friend</div>
      <div id="outputButton" class="button">Create!</div>
    </div>
  </body>
</html>
